.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]) {
  position: relative;
  float: left;
  margin: 0px 33px;
  width: 50px;
  height: 50px;
  overflow: visible;
  transform: scale(0.9);
  border-left: none !important;
  transition: none;
}

.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]) .layout_bb8e67 {
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]):hover {
  border-left: none !important;
}

.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]).selected__7f4cb {
  background-color: var(--main-color);
}

.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]) .content_e8a0d1 {
  display: none;
}

.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]) .layout_bb8e67 .avatar__6337f {
  margin: 0;
}

.privateChannels__9b518 .channel__0aef5:not([href*="/channels/@me/"]):not([categoryid]) .children_cf6731 {
  position: absolute;
  top: 0;
  right: 0;
}

html .tabBadge_ff691d {
  position: absolute;
  transform: translate(50%, -50%);
}