.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]) {
  position: relative;
  float: left;
  margin: 0px 33px;
  width: 50px;
  height: 50px;
  overflow: visible;
  transform: scale(0.9);
  border-left: none !important;
  transition: none;
}

.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]) .layout_e9f61e {
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]):hover {
  border-left: none !important;
}

.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]).selected_e9f61e {
  background-color: var(--main-color);
}

.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]) .content_e9f61e {
  display: none;
}

.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]) .layout_e9f61e .avatar_e9f61e {
  margin: 0;
}

.privateChannels_f0963d .channel_c91bad:not([href*="/channels/@me/"]):not([categoryid]) .children_e9f61e {
  position: absolute;
  top: 0;
  right: 0;
}

html .tabBadge_ff691d {
  position: absolute;
  transform: translate(50%, -50%);
}